/* General styles for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the header */
header{
  background-color: #353535;
  color: white;
  padding: 10px;
  text-align: center;
  
}


/* Navigation bar styles */
#navigation_bar ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 9px;
  background: linear-gradient(315deg, #393939, #303030);
  box-shadow:  -14px -14px 28px #242424,
               14px 14px 28px #464646;
  
}

#navigation_bar ul li {
  float: left;
  align-content: flex-end;
  position: relative;
}

#navigation_bar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation_bar ul li a:hover {
  background-color: #9c9c9c;
}

/*SECTION STYLING*/
#Project_info {
  outline: red dashed 1px;
  background-color: #f0f8ff; 
  padding: 20px;
}

#TEAM {
  background-color: #FFFFFF ; 
  padding: 20px;
  text-align: center;
}

/*MEETING AND CALENDAR STYLING*/
#Meeting_Scheduling {
  background-color: #cdcdcd; 
  padding: 20px;
}


#Resources_Documentation {
  background-color: #e1e6e1; 
  padding: 20px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Style for team cards*/
.Card_Title {
  font-size: 24px;
  font-weight: bold;
}


.Members, .link{
 width: 100%;
 max-width: 190px;
 height: 224px;
 border-radius: 20px;
 background: #FFFFFF;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 
}
#Team_Members{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 12px;
}

#Resources{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 67%;
  text-align: center;
  word-wrap: break-word;
  max-height: auto;
}
.Side_resources{
  font-size: 12px;
  text-align: left;
  padding-right: 20px;
}



